
.showassistant .datepicker.active {
    display: block;

    max-width: 76% !important;

    @media (min-width:300px) {
        max-width: 80% !important;
    }

    @media (min-width:390px) {
        max-width: 86% !important;
    }

    @include sm{
        width: 452px !important;
    }

    @include md{
        width: 632px !important;
    }

    @include lg{
        width: 232px !important;
    }

    @include xl{
        width: 290px !important;
    }

    @include xxl {
        width: 349px !important;
    }


}

.showassistant .datepicker-picker {
    width: 100% !important;
}

.showassistant .datepicker-view,
.showassistant .days,
.showassistant .datepicker-grid {
    width: 100% !important;
}